.content {
    margin-top:auto;
    margin-bottom:auto;
    text-align:right;
    padding-right: 5px;
}
.blocktext {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    padding-top: 5px;
}
.circle-image {
    border: 2px solid rgb(70, 70, 70);
    border-radius: 50%;
    height: 50px;
    padding: 1px;
  }
.auto-margin {
    margin-top: auto;
    margin-left: 0px;
    margin-bottom: auto;
    margin-right: auto;
}
.content {
    margin-top: 0px;
    margin-bottom: 0px;
}
.to-right {
    margin-right: 0px;
    padding-left: 20px;
}
.to-left {
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px; 
    margin-top: auto;
    margin-bottom: auto;
}