<div class="fixed-bottom"
  style="background-color: rgb(207, 212, 224);">
  <div class="row blocktext">
    <div class="col-1 to-right">
        <img class="circle-image" src="assets/img/nyul.png" alt="Avatar">
    </div>
    <div class="col-11 to-left">
        <i class="content"> Ask the professional.</i>
    </div>
  </div>
 <div class="content navbar-dark"
    style="background-color: rgb(55, 70, 109);">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">2019 - Ferenc Kreisch</a>
      </li>
    </ul>
  </div>
</div> 