.sticky {
    position: sticky;
    top: 0;
}
.top {
    margin:0;
    padding: 0;
}
.big-text {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 4vw;
    color: rgb(237, 230, 215);
    margin: 0px 0px 0px 20px;
    line-height: 1;
}

.navbar-style {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    border-bottom: 2px solid rgba(0, 0, 0, 0.7);
    line-height: 2.6;
}

.logo {
    width: 100px;
    padding: 5px 0px 5px 20px;
}

nav ul li a {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-weight: bold;
    color: rgba(237, 230, 215, 0.8);
    padding: 0 20px;
    margin: 5px;
    border: 2px solid rgba(0, 0, 0, 0);
}

nav ul li a.active {
    background: #51608c;
    border: 2px solid rgba(237, 230, 215, 0.8);
    border-radius: 0.5em 2em 0.5em 2em;
}

nav ul li a:hover {
    border: 2px solid rgba(237, 230, 215, 0.8);
    border-radius: 0.5em 2em 0.5em 2em;
}