.sticky {
    position: sticky;
    top: 0;
}

.top {
    margin: 0;
    padding: 0;
}

.navbar-style {
    background-color: rgba(0, 0, 0, 1);
    z-index: 100;
}

nav ul li a {
    border: 0;
    font-weight: bold;
    color: rgba(237, 230, 215, 0.8);
    padding: 0 20px;
    margin: 5px;
    line-height: 2.6;
}

nav ul li a.active {
    border-bottom: 2px solid #51608c;
    border-radius: 0.5em;
    background: linear-gradient(150deg, rgba(0, 0, 0, 0) 0%, rgba(9, 9, 121, 0.07) 80%, rgba(81, 96, 140, 1) 100%);
}

nav ul li a:hover {
    border-radius: 0.5em;
    border-bottom: 2px solid #51608c;
}

.logo {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 35px;
    color: #51608c;
    margin-left: 36px;
    text-decoration: none;
}

.navbar-toggler-icon {
    color: #51608c;
}

.navbar-toggler {
    border-color: #51608c;
}