.card {
    border: 0px;
    background: rgb(0, 0, 0);
}

.card:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    transform: skew(2deg, 2deg);
    z-index: 1;
    border-radius: 1em;
    background: #51608c;
    background: linear-gradient(135deg, #51608c 0%, #000000 50%, #51608c 100%);
}

.card-img-top-div,
.card-body {
    z-index: 2;
    background: rgb(0, 0, 0);
    border-radius: 1em;
}

.card-img-top {
    border-radius: 0.5em 2em 0.5em 2em;
    border: 2px solid #51608c;
}

.card-img-top-div {
    background: rgb(237, 230, 215);
}

.card-title {
    color: rgb(237, 230, 215);
    margin-top: 16px;
}

.card-text {
    color: #aaa;
}