.card {
    border: 0px;
    background: rgb(0, 0, 0);
}

.card:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: rgb(237, 230, 215);
    transform: skew(2deg, 2deg);
    z-index: 1;
    border-radius: 1em;
}

.card-img-top-div,
.card-body {
    z-index: 2;
    background: rgb(0, 0, 0);
    border-radius: 1em;
}

.card-img-top {
    border-radius: 0.5em 2em 0.5em 2em;
}

.card-img-top-div {
    background: rgb(237, 230, 215));
}

.card-title {
    color: rgb(237, 230, 215);
    margin-top: 16px;
}

.card-text {
    color: #aaa;
}

.title {
    display: flex;
    margin: auto;
    justify-content: center;
    padding-bottom: 40px;
    color: rgb(237, 230, 215);
}

.big-text {
    font-size: 44px;
    text-decoration: underline;
}