.top {
    display: table;
    width: 100%;
    height: 228px;
    margin-right: 50px;
}

.stuff {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    color: rgb(237, 230, 215);
    font-family: 'Denk One', sans-serif;
}

.big-text {
    font-size: 5.9vw;
    margin-right: 40px;
}

.small-text {
    font-size: 3vw;
    margin-right: 40px;
}

.chef-pic {
    margin-top: 5px;
    width: 150px;
    height: auto;
}