.top {
    display: block;
    margin: 15em 5em;
    text-align: right;
    color: rgb(237, 230, 215);
}

.top-none {
    display: block;
    margin: 15em 5em;
    text-align: right;
    color: rgba(0, 0, 0, 0)
}

.big-text {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 5.9vw;
}

.small-text {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 3vw;
}

.chef {
    position: absolute;
    top: 0;
    left: 0;
}

.chef-pic {
    width: 100%;
    height: auto;
}