.bgImgCenter{
    background-image: url("../../assets/img/food-blog-d.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    background-size: cover;
}
.no-padding {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.full-padding {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.min-height-100 {
    min-height: 100px;
}
.auto-margin {
    margin-top: auto;
    margin-left: 0px;
    margin-bottom: auto;
    margin-right: auto;
}
.logo {
    min-width: 100px;
}
.big-text {

    font-size: 5.9vw;
    text-shadow: 3px 3px 5px #000000;
}
.small-text {
    font-size: 2.5vw;
    text-shadow: 3px 3px 5px #000000;
}