<app-header [htitle]="'Recipes Database'"></app-header>
<div class="container">
    <div class="recipe-box">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 recipe-b" *ngFor="let recipe of recipes">
                <div class="recipe-container">
                    <img src="{{ recipe.picture }}" class="pic img-responsive" [routerLink]="['/recipe', recipe.id]">
                    <div class="name-container">
                        <div class="name" id="{{ recipe.id }}">
                            {{ recipe.name }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>